body{
	background-color: #EFEFEF;
}

/*
header{
	background-color: #FFFFFF;
	border-bottom-width: 2px;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
	padding: 10px;
}
*/
.body{
	background-color: #FFFFFF;
	margin-bottom: 10px;
	padding: 10px;
}

.filter{
	margin-bottom: 10px;
}

.footer{
	background-color: #DEDEDE;
	padding: 10px;
}

.error-message{
	color: #ff0000;
}
